<aside id="sidebar" class="bg-dark">
  <div class="h-100">
    <div class="sidebar-logo">
      <a href="#">Menu</a>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a
          [routerLink]="['/students']"
          routerLinkActive="active"
          class="sidebar-link"
        >
          <i class="fa-solid fa-list pe-2"></i>
          Estudiantes
        </a>
      </li>
      <li class="sidebar-item">
        <a
          [routerLink]="['/students-detail']"
          routerLinkActive="active"
          class="sidebar-link"
        >
          <i class="fa-solid fa-list pe-2"></i>
          Detalle estudiantes
        </a>
      </li>
      <li class="sidebar-item">
        <a
          href="#"
          class="sidebar-link collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#pages"
          aria-expanded="false"
          aria-controls="pages"
        >
          <i class="fa-regular fa-file-lines pe-2"></i>
          Pages
        </a>
        <ul
          id="pages"
          class="sidebar-dropdown list-unstyled collapse"
          data-bs-parent="#sidebar"
        >
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">Analytics</a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">Ecommerce</a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">Crypto</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
