<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">
      <img
        src="../../../assets/img/inventory.svg"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Aplication
    </a>
  </div>
</nav>
