<div class="row">
  <div class="col-10">
    <p class="fs-2">Estudiantes</p>
  </div>
  <div class="col-2">
    <button (click)="onNavigateAddStudent()" class="btn btn-outline-success">
      Agregar estudiante
    </button>
  </div>
  <div class="col-12">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Usuario</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (student of students; track student.id) {
          {{
            student.name
          }}
          <tr>
            <th scope="row">{{ student.id }}</th>
            <td>{{ student.name }}</td>
            <td>{{ student.username }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone }}</td>
            <td>
              <button
                (click)="onNavigateUpdateStudent(student.id)"
                class="btn btn-outline-warning mx-2"
              >
                Editar
              </button>
              <button
                class="btn btn-outline-danger"
                (click)="onDeleteStudent(student.id)"
              >
                Eliminar
              </button>
            </td>
          </tr>
          } @empty { Empty list of students }
        </tbody>
      </table>
    </div>
  </div>
</div>
