<div class="card">
  <div class="card-header">
    <p class="fs-2">Modificar Estudiantes</p>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            id="txt-name"
            placeholder="Nombre"
            aria-label="Nombre"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            formControlName="user"
            id="txt-user"
            placeholder="Usuario"
            aria-label="Usuario"
          />
        </div>
      </div>
      <div class="row pt-3">
        <div class="col">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            id="txt-email"
            placeholder="Email"
            aria-label="Email"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            formControlName="phone"
            id="txt-phone"
            placeholder="Telefono"
            aria-label="Telefono"
          />
        </div>
      </div>
      <div class="pt-3 text-center">
        <button
          type="button"
          class="btn btn-outline-danger mx-1"
          (click)="onNavigateBack()"
        >
          Cancelar
        </button>
        <button type="submit" class="btn btn-outline-success mx-1">
          Modificar
        </button>
      </div>
    </form>
  </div>
</div>
