.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  #content {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    transition: all 0.3s;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    #render {
      margin-bottom: auto !important;
    }
  }